---
import SidebarLayout from '../layouts/SidebarLayout.astro'
import Services from '../components/Services.astro'
---

<SidebarLayout
  title="Consulting Services — Patchwork Analytics"
  description="Consulting services"
>
  <main>
    <Services />
  </main>
</SidebarLayout>
