---
import { resumeSkills } from '../config'
---

<section id="about" class="section-padding">
  <div class="container-max">
    <div class="gap-1 items-start">
      <div>
        <h2 class="text-3xl md:text-4xl font-bold text-text-primary mb-6">About Me</h2>

        <div class="space-y-4 text-text-secondary text-body leading-relaxed mb-8">
          <p>
            I'm a Data Scientist & Data Engineer based in New England, with 10 years of experience
            using data and technology to solve problems in the biology, healthcare, and supply
            chain/industrial warehousing spaces.
          </p>
        </div>
        <!--  &lt;!&ndash;Tech I work with list&ndash;&gt;-->
        <!--  <div>-->
        <!--    <p class="text-text-muted text-label font-mono uppercase tracking-widest mb-3">-->
        <!--      Tech I work with-->
        <!--    </p>-->
        <!--    <div class="flex flex-wrap gap-2">-->
        <!--      {-->
        <!--        resumeSkills.tools.map((skill) => (-->
        <!--          <span class="px-3 py-1 rounded-md text-body text-text-secondary bg-surface-muted border border-surface-border">-->
        <!--            {skill}-->
        <!--          </span>-->
        <!--        ))-->
        <!--      }-->
        <!--    </div>-->
        <!--  </div>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</section>
